.fecha,.hora_minuto_segundo{
    border:1px solid #000;
    height: 120px;
    width: 500px;
    margin: 15px auto;
}

.dia,.dia_numero,.mes,.fullyear{
    height: 106px;
    width: 110px;
    background: blue;
    display: inline-block;
    margin: 7.5px;
    text-align: center;
}